<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,inital-scale=1" />
<title>个人信息_客户</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/gerenxin_kehu.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/gerenxinxi.css" />
</head>

<body>
<div class="quan">
 <div class="dingbu"></div>
  <div class="top_biao">
   <div class="top_fanhui"><</div>
   <div class="top_biaoti">个人信息</div>
  </div>
  
  <volist name="list" id="id">
  <div class="touxiang"> 
  <div class="touxiang_touxiang">头像</div>
  <div class="touxiang_dian">{$id.yw_user_headpic}
  <input class="touxiang_tu" value="" type="file"> 
  </div>   
  </div>
  <div class="tongyi"> 
    <div class="tongyi_san">姓名</div>
    <input type="text" value="{$id.yw_user_name}" class="tongyi_xinxi"><!--姓名-->    
  </div>
  <div class="tongyi"> 
    <div class="tongyi_san">手机号</div>
    <input type="text" value="{$id.yw_user_mobilephone}" class="tongyi_xinxi"><!--手机号-->    
  </div>
  <div class="tongyi"> 
  <div class="tongyi_san">VIP等级</div>
    <input type="text" value="{$id.yw_user_card_rank}" class="tongyi_xinxi">    
  </div>
  <div class="tongyi"> 
    <div class="tongyi_san">个人积分</div>
    <input type="text" value="{$id.yw_user_integral}" class="tongyi_xinxi"><!--工作年限-->    
  </div>

    
  <div class="xiangmu">    
    <div class="xiangmu_shangchang">初始肤质状况</div>
    <input type="text" value="{$id.yw_user_mobilephone}" class="xiangmu_xinxi">
   
  </div>
  <div class="gai">    
    <div class="xiangmu_shangchang">近期肤质状况</div>
    <input type="text" value="{$id.yw_user_mobilephone}" class="xiangmu_xinxi">
  
  </div>
  </volist>
</div><!--对应class类quan-->
    
    
    
<div class="quan"><!--quan-->
  <div class="jixiao">    
    <div class="jixiao_chakan">查看我的消费记录</div>

</div><!---quan-->
  </div>
</body>
</html>
