<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xfjlsy.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xfjlsy1.css"/>
		<script src="__PUBLIC__/js/jquery-2.2.4.min.js" ></script>
	</head>
	<body>
		
		<div class="xf">
		<div class="xf1">
			<div class="xf2"><a href="#"><</a></div>
			<div class="xf3" align="center">消费记录</div>
			<div style="clear:both"></div>
		</div>
		<foreach  name="time" item="value" key="key">
			<div>
			<div class="xf4 today" style="background-color: #DCDCDC;"><{$time[$key]}></div>
			<foreach  name="message" item="vvalue" key="vkey">
							<if condition="($message[$vkey]['yw_userConsume_time'][0] eq $time[$key])">
					<div class="xf5">
						<div class="xf5a"><{$message[$vkey]["yw_user_name"]}></div>
			            <div class="xf6">
			            	<div class="xf6a">项目:</div>
			            	<div class="xf6b"><{$message[$vkey]["yw_project_name"]}></div>
			            	<div class="xf6c"><li><{$message[$vkey]["yw_project_cost_money"]}></li>元/1人</div>
			            	<div class="xf6d"><{$message[$vkey]["yw_userConsume_time"][1]}></div>
			            </div>
			        </div>
					</if>
				</foreach>
			</div>	
		</foreach>	
		</div>
	
	
	
	
	</body>
	<script type="text/javascript">
			$(document).ready(function(){
				var mydate = new Date();
				var month = mydate.getMonth()+1;
				if(month < 10){
					month = "0"+ month;
				}
				var day_1 = mydate.getDate();
				var time = mydate.getFullYear()+"-"+month+"-"+day_1;
				var div_len = $(".today").length;
				for(var i = 0; i< div_len; i++){
					var today = $(".today").eq(i).html();
					if(time == today){
						$(".today").eq(i).html("今天");
					}
				}
				
				for(var i = 0; i< div_len; i++){
					var today = $(".today").eq(i).html();
					day_1 = mydate.getDate()-1;
					var time = mydate.getFullYear()+"-"+month+"-"+day_1;
					if(time == today){
						$(".today").eq(i).html("昨天");
					}
				}
				
				for(var i = 0; i< div_len; i++){
				
				}
				
				

			});
	</script>
	
	
	
</html>
