<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xfjl.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xfjl1.css"/>
		<script src="__PUBLIC__/js/jquery-2.2.4.min.js" ></script>
		<title></title>
	</head>
	<body>
		<div class="xf">
		<div class="xf1">
			<div class="xf2"><a href="#"><</a></div>
			<div class="xf3" align="center">消费记录</div>
			<div style="clear:both"></div>
		</div>
		<div class="xf4">
			<div class="xf5"><a href="#"><img src="__IMG__/img/"+<{$user_arr[0]['yw_user_headpic']}>/></a></div>
			<div class="xf6"><{$user_arr[0]["yw_user_name"]}></div>
			<div class="xf7">干性皮肤</div>
		</div>
		<div class="xf8">
			<div class="xf8a">项目</div>
			<div class="xf8b">金额</div>
			<div class="xf8c">时间</div>
		</div>
		<foreach name="user_consume_arr" item="value" key="key"> 
			<div class="xf9">
				<div class="xf9a"><{$project_arr[$key][0]["yw_project_name"]}></div>
				<div class="xf9b"><li><{$project_arr[$key][0]["yw_project_cost_money"]}></li>/元</div>
				<div class="xf9c"><{$user_consume_arr[$key]["yw_userconsume_time"]}></div>
			</div>
		</foreach>
		<br />
		<br />
		<br />
		<br />
		<div class="xf12"><input type="button" class="xf12a" value="添加新消费记录" /></div>
		</div>
	</body>
</html>
