<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xfyj.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xfyj1.css"/>
		<script src="__PUBLIC__/js/jquery-2.2.4.min.js" ></script>
	</head>
	<body>
		<div class="xf">
		<div class="xf1">
			<div class="xf2"><a href="#"><</a></div>
			<div class="xf3" align="center">添加记录</div>
			<div style="clear:both"></div>
		</div>
		<div class="xf4">
			<div class="xf5"><a href="#"><img src="../img/5.jpg"/></a></div>
			<div class="xf6">张丽</div>
			<div class="xf7">干性皮肤</div>
		</div>
		<div class="xf8">
			<div class="xf8a">项目:</div>
			<div class="xf8b"><input type="text"/></div>
		</div>
		<div class="xf9">
			<div class="xf9a">金额:</div>
			<div class="xf9b"><input type="text"/></div>
		</div>
		<div class="xf10">
			<div class="xf10a">时间:</div>
			<div class="xf10b"><input type="text"/></div>
		</div>
		<div class="xf11"><input type="button" class="xf11a" value="确定" /></div>
		</div>
	</body>
</html>
