@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{ font-family:"Open Sans","Source Han Sans","黑体-简", "微软雅黑", "宋体"; background-color: #ebebeb;}
a{width:100%; height:100%; border:none; text-decoration: none; color: inherit;}
img{width:100%; height:auto; border:none;}
ul, ol, li { list-style: none; }
.clear{clear:both; overflow:hidden; height:0; font-size:0; line-height:0;}


body{
	margin: 0rem;
	padding: 0rem;
	height:100%;
	width: 100%;
	background-image: url(../img/yw_login_img.png);
	background-size: 100% auto;
	font-size: 0.18rem;
	color: #FFFFFF;
	letter-spacing: 0.018rem;
}
#black{
	height: 0.48rem;
	width: 0.52rem;
	margin-left: 0.5rem;
	margin-top: 0.8rem;
}
.black_a{
	height: 0.48rem;
	width: 0.52rem;
}
#massegin_div{
	
	height: 0.36rem;
	width: 5.0rem;
	font-size: 0.15rem;
	color: red;
	text-align: center;
	letter-spacing: 0.018rem;
	margin: 0 auto;
	margin-top: 1.2rem;
}
#content_div{
	width: 90%;
	margin: 0 auto;
	margin-top: 1.0rem;
}
.content_div1,.content_div2,.content_div3,.content_div4{
	width: 100%;
	height: 0.36rem;
	border-bottom: 1px solid #ffffff;
}
.content_div1_text,.content_div2_text,.content_div3_text,.content_div4_text{
	width: 1.4rem;
	height: 0.27rem;
	margin-left: 0.12rem;
	margin-top:0.03rem;
	float: left;
}
#phone,#pass1,#pass2{
	width:70%;
	height: 0.27rem;
	font-size: 0.15rem;
	color: #333333;
	letter-spacing: 0.018rem;
	border: none;
	background-color: transparent;
	margin-left: 0.05rem;
	margin-top: 0.05rem;
	float: left;
}
.content_div2,.content_div3,.content_div4{
	margin-top: 0.48rem;
}
.content_div2_text{
	width: 1.4rem;
	height: 0.27rem;
	margin-left: 0.12rem;
	margin-top:0.03rem;
	float: left;
}
#yzm{
	width:40%;
	height: 0.27rem;
	font-size: 0.15rem;
	color: #333333;
	letter-spacing: 0.018rem;
	border: none;
	background-color: transparent;
	margin-left: 0.05rem;
	margin-top: 0.05rem;
	float: left;
}
.content_div2_button{
	width: 1.3rem;
	height: 0.27rem;
	margin-left: 0.12rem;
	margin-top:0.03rem;
	padding-left: 0.4rem;
	float: left;
	border-left: 1px solid #ffffff;
}
#content_button{
	width: 90%;
	height: 0.59rem;
	font-size: 0.216rem;
	margin-top: 0.6rem;
	margin-left: 5%;
	text-align: center;
	line-height: 0.59rem;
	letter-spacing: 0.144rem;
	border:1px solid #FFFFFF;
	border-radius:0.06rem;
	-moz-border-radius:0.06rem;
	float: left;	
}
#display1,#display2{
	height: 100%;
	width: 100%;
	background:rgba(0,0,0,0.4);
	display: none;
	position: absolute;
	top: 0rem;
	left: 0rem;
	letter-spacing: 0.018rem;
}
.display1_div,.display2_div{
	width: 60%; 
	height: 2.0rem; 
	color: #FF0000;
	margin: 0 auto;
	background-color: #FFFFFF; 
	border-radius: 30px;
	position: relative;
	top: 4.0rem;
	font-size: 0.3rem;
	text-align: center;
}
.display1_text,.display2_text{
	width: 100%;
	height: 1.0rem;
	line-height: 1.0rem;
}
.display1_img,.display2_img{
	width: 0.48rem; 
	height: 0.48rem;
	margin: 0 auto;
	background-image: url(../img/yw_login_uptade_true.png);
	background-size: 100% auto;
}
#display2{
	display: none;
}
.display2_img{
	background-image:url(../img/yw_login_uptade_flase_03.png);
}