<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/yys.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/yw_update_password.css"/>
		<script type="text/javascript" src="__PUBLIC__/js/yw_login.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
	</head>
	<body >
		<div id="black">
			<a class="black_a" href="__CONTROLLER__/login">
				<img src="__PUBLIC__/img/yw_login_black_02.png"/>
			</a>
		</div>
		<div id="massegin_div" >
			<span id="massegin">
			</span>
		</div>
		<div id="content_div">
			<div class="content_div1">
				<div class="content_div1_text">请输入账号</div>
				<div class="content_div1_oldpass1">
					<input type="text" name="oldpass1" id="oldpass1" value="" />
				</div>
			</div>
			<div class="content_div2">
				<div class="content_div2_text">确认旧密码</div>
				<div class="content_div2_yzm">
					<input type="password" name="oldpass2" id="oldpass2" value="" />
				</div>
			</div >
			<div class="content_div3">
				<div class="content_div3_text">输入新密码</div>
				<div class="content_div3_pass1">
					<input type="password" name="pass1" id="pass1" value="" />
				</div>
			</div>
			<div class="content_div4">
				<div class="content_div4_text">确认新密码</div>
				<div class="content_div4_pass1">
					<input type="password" name="pass2" id="pass2" value="" />
				</div>
			</div>
		</div>
		<div id="content_button">确定</div>
		<div id="display1">
			<a href="http://127.0.0.1/yanwan2/index.php/Home/Login/login">
				<div class="display1_div">
					<div class="display1_text">密码修改成功</div>
					     <div class="display1_img"></div>
			</div>
			</a>
	    </div>
		<div id="display2">
			<a href="__CONTROLLER__/update_password">
				<div class="display2_div">
					<div class="display2_text">密码修改失败</div>
						<div class="display2_img"></div>
				</div>
			</a>
		</div>
		<if condition="($code eq 1000)"><script type="text/javascript">document.getElementById("display1").style.display="block";</script>
			<elseif condition="($code eq 1005)"/>
   			<else /><script type="text/javascript">document.getElementById("display2").style.display="block";</script>
   		</if>
   		
	</body>
	<script type="text/javascript">
		$(function(){
			$('#pass1').blur(function(){
				oldpass2=$('#oldpass2').val();
				pass1=$('#pass1').val();
				passvalue1(oldpass2,pass1);
			})	
			$('#pass2').blur(function(){
				pass1=$('#pass1').val();
				pass2=$('#pass2').val();
				passvalue2(pass1,pass2);
			})	
			$("#content_button").click(function(){
				oldpass1=$('#oldpass1').val();
				oldpass2=$('#oldpass2').val();
				pass2=$('#pass2').val();
				massegin=$('#massegin').html();
				if(massegin==""){
					window.location.href="__CONTROLLER__/update_password?YW_User_Name="+oldpass1+"&YW_User_Passwordnew="+pass1+"&YW_User_Passwordold="+oldpass2;
				}else{
					
				}
			})
		})
		function passvalue1(oldpass2,pass1){   //第一次输入密码
			  if(!/^[a-zA-Z0-9_]{3,16}$/.test(pass1)){
				 $('#massegin').html("请输入3-16位由字母或数字组成的密码");
			  }else{
			     $('#massegin').html("");
			     if(oldpass2==pass1){
				 	$('#massegin').html("新密码不能与旧密码相同");
				 }else{
				 	$('#massegin').html("");
				 }
			 }
	    }
	
		function passvalue2(pass1,pass2){   //第二次输入密码
			  if(pass1!=pass2){
				 $('#massegin').html("请确认输入的两次密码是否相同");	
			  }else{
			     $('#massegin').html("");		  
			 }
	    }

		
	</script>
</html>
